*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
}

h1 {
    color: #e53170;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    min-width: 80%;
    margin: 2rem auto 2rem auto;
}
/* 
con min width mi allargava il div oltre l'80% e non andava a capo come in foto
*/
.container{
    font-size: 25px;
    max-width: 80%;
    margin: 1rem auto 3rem auto;
}

.container p:first-child {
    text-align: center;
}

img {
    float: left;
    height: 9rem;
}
.card {
    background-color: black;
    height: 9rem;
    float: left;
    width: 31%;
    text-align: left;
    margin-top: 4rem;
    color: white;
    -webkit-box-shadow: 10px -2px 18px 7px rgba(0,0,0,0.56); 
    box-shadow: 10px -2px 18px 7px rgba(0,0,0,0.56);
}

.container .card:nth-child(3n+0) {
    float: right;
}

.container .card:nth-child(3n+2) {
    float: none;
    display: inline-block;

}

.row{
    text-align: center;
}

.info{
    padding: 2rem;
    margin-left: 9rem;
    font-size: 20px;
}

.contact{
    color: #49abd9;
    text-transform: lowercase;
}

.name{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

.row::after {
    clear: both;
}